
<div id="loginBox">
	<small>Log In Form (partials/logInBox.hbs)</small>
	<form>
		<fieldset>
			<legend>Log In</legend>
			
			<div class="form-group">
				<div class="input-group">
				  <span class="input-group-addon" id="userid-addon">Username:</span>
				  <input type="text" class="form-control" id="userid" aria-describedby="userid-addon">
				</div><br>

				<div class="input-group">
				  <span class="input-group-addon" id="password-addon">Password:</span>
				  <input type="password" class="form-control" id="password" aria-describedby="password-addon">
				</div>
			</div>

		</fieldset>

		<div class="row">
			
			<div class="checkbox col-xs-3">
				<label>
					<input type="checkbox"> Remember Me
				</label>
			</div>

			<button class="btn btn-primary col-xs-9">Log In</button>
			
		</div>

	</form>
</div>
