
<div id="registerBox" ng-controller="registrationCtrl">

	<form name="registerForm" ng-submit="registerSubmit(registerForm.$valid)" novalidate>

		<fieldset>

			<legend>Register</legend>
			
			{{!-- Player Name --}}
			<div class="form-group">

				<div class="input-group input-group-sm" ng-class="{ 'has-danger' : registerForm.playerName.$invalid && !registerForm.playerName.$pristine, 'has-success': registerForm.playerName.$valid && !registerForm.playerName.$pristine}">

					<span class="input-group-addon" id="playerName-addon">Player Name:</span>

					<input type="text" class="form-control" name="playerName" aria-describedby="playerName-addon" ng-model="newUser.playerName" ng-minlength="3" ng-class="{ 'form-control-danger' : registerForm.playerName.$invalid && !registerForm.playerName.$pristine, 'form-control-success': registerForm.playerName.$valid && !registerForm.playerName.$pristine}" required>

				</div>

				<small ng-show="registerForm.playerName.$error.required && !registerForm.playerName.$pristine" class="help-block">*Your name is required.</small>

			</div>

			{{!-- Username --}}
			<div class="form-group">

				<div class="input-group input-group-sm" ng-class="{ 'has-danger' : registerForm.userID.$invalid && !registerForm.userID.$pristine || checkedIDs[newUser.userID] == 'unavailable', 'has-success': registerForm.userID.$valid && !registerForm.userID.$pristine && checkedIDs[newUser.userID] == 'available', 'has-warning': registerForm.userID.$valid && !registerForm.userID.$pristine && !checkedIDs[newUser.userID]}">

					<span class="input-group-addon" id="userID-addon">Username:</span>

					<input type="text" class="form-control" name="userID" aria-describedby="userID-addon userID-addon2" ng-model="newUser.userID" ng-minlength="4" ng-maxlength="20" ng-class="{ 'form-control-danger' : registerForm.userID.$invalid && !registerForm.userID.$pristine || checkedIDs[newUser.userID] == 'unavailable' , 'form-control-success': registerForm.userID.$valid && !registerForm.userID.$pristine && checkedIDs[newUser.userID] == 'available', 'form-control-warning': registerForm.userID.$valid && !registerForm.userID.$pristine && !checkedIDs[newUser.userID] }" required>
					
					<span class="input-group-btn">

						<button class="btn" type="button" ng-click="checkUserID(newUser.userID)" ng-disabled="registerForm.userID.$invalid || checkedIDs[newUser.userID]" ng-class="{ 'btn-primary': !checkedIDs[newUser.userID], 'btn-success': checkedIDs[newUser.userID] == 'available', 'btn-danger': checkedIDs[newUser.userID] == 'unavailable'}">

							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Check availability
						</button>

					</span>

				</div>

				<small ng-show="registerForm.userID.$error.required && !registerForm.userID.$pristine" class="help-block">*Please select a username.</small>
				<small ng-show="registerForm.userID.$error.minlength" class="help-block">Username is too short. (minimum of 4 characters)</small>
    			<small ng-show="registerForm.userID.$error.maxlength" class="help-block">Username is too long. (maximum of 20 characters)</small>
    			<small ng-show="checkedIDs[newUser.userID]" class="help-block">"{[newUser.userID]}" is <span ng-bind="checkedIDs[newUser.userID]"></span></small>

    			<br>
    			<pre ng-bind="checkIDs[newUser.userID]"></pre>

			</div>

			{{!-- Password --}}
			<div class="form-group">

				<div class="input-group input-group-sm" ng-class="{ 'has-danger' : registerForm.password.$invalid && !registerForm.password.$pristine, 'has-success': registerForm.password.$valid && !registerForm.password.$pristine}">

					<span class="input-group-addon" id="password-addon">Password:</span>

					<input type="password" class="form-control" name="password" aria-describedby="password-addon" ng-model="newUser.password" ng-class="{ 'form-control-danger' : registerForm.password.$invalid && !registerForm.password.$pristine, 'form-control-success': registerForm.password.$valid && !registerForm.password.$pristine}" required>

				</div>

			</div>

			{{!-- Password2 --}}
			<div class="form-group">

				<div class="input-group input-group-sm" ng-class="{ 'has-danger' : registerForm.password2.$invalid && !registerForm.password2.$pristine, 'has-success': (newUser.password == newUser.password2) && registerForm.password2.$valid && !registerForm.password2.$pristine, 'has-warning': (newUser.password != newUser.password2) && registerForm.password2.$touched}">

					<span class="input-group-addon" id="password2-addon">Confirm Password:</span>

					<input type="password" class="form-control" name="password2" aria-describedby="password2-addon" ng-model="newUser.password2"  ng-class="{ 'form-control-danger' : registerForm.password2.$invalid && !registerForm.password2.$pristine, 'form-control-success': (newUser.password == newUser.password2) && registerForm.password2.$valid && !registerForm.password2.$pristine, 'form-control-warning': (newUser.password != newUser.password2) && registerForm.password2.$touched}" required>

				</div>

				<small ng-show="registerForm.password2.$error.required && !registerForm.password2.$pristine">Please confirm the password typed above.</small>

				<small ng-show="!registerForm.password2.$error.required && (newUser.password != newUser.password2) && registerForm.password2.$touched">Your passwords don't seem to match...</small>

			</div>

			{{!-- eMail --}}
			<div class="form-group">

				<div class="input-group input-group-sm" ng-class="{ 'has-danger' : registerForm.email.$invalid && !registerForm.email.$pristine, 'has-success': registerForm.email.$valid && !registerForm.email.$pristine}">

					<span class="input-group-addon" id="email-addon">eMail:</span>

					<input type="email" class="form-control" name="email" aria-describedby="email-addon" ng-model="newUser.email" ng-class="{ 'form-control-danger' : registerForm.email.$invalid && !registerForm.email.$pristine, 'form-control-success': registerForm.email.$valid && !registerForm.email.$pristine}" required>

				</div>

				<small ng-show="registerForm.email.$error.required && !registerForm.email.$pristine" class="help-block">*Your email is required - we will only use it in case you need to reset your password.</small>

				<small ng-show="registerForm.email.$error.email && !registerForm.email.$pristine" class="help-block">*Please enter a valid email address</small>

			</div>

		</fieldset>

		<button type="submit" class="btn btn-block btn-success btn-sm" ng-disabled="registerForm.$invalid || ( (newUser.password != newUser.password2) && registerForm.password2.$touched ) || !registerForm.password2.$touched || (checkedIDs[newUser.userID] != 'available')">Register</button>

	</form>

</div>
