
<div class="container" id="index_container" ng-controller="indexCtrl">

	<h1>This is sample content (goneGamer/index.hbs)</h1>

	{{> registerBox}}

	{{> loginBox}}

    {{> _indexFooter}}

</div>

{{> _modals}}
